@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Rubik", sans-serif;
}

/****************************************** THIS IS HOME PAGE ***************************************************88*/

body {
    background-image: url(image\ copy.png);
    background-size: cover;
    
}

#navbar {
    display: flex;
    height: 60px;
    background-color: transparent;
    justify-content: space-between;
    


}

#menu {
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
    margin-right: 15PX;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

h1 {
    font-size: 35px;
}

hr {
    border-color: rgb(155, 153, 141);
}

a {
    text-decoration: none;
    font-size: 17px;
}

span {
    color: aqua;
}

#hire {
    background-color: aqua;
    color: black;
    padding: 5px 35px;
    border-radius: 10px;
    font-size: 18px;
}
#hire:hover{
    background-color:white;
}
#call {
    
    background-color:aqua;
    color:black;
    border-color: none;
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 18px;
    margin-left: 10px;
}
#call:hover{
    background-color:white;
}
#forimage img{
    height: 395px;
    background: transparent;
    margin-top: 50px;
    border-radius: 50%;
    border: 2px solid aqua;
    /* filter: brightness(1); */
}
#smalldiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: px;
    
}
p{
    font-size: 19px;
}
i{
    font-size: 30px;
    
}
#icons{
    display: flex;
    gap: 40px;
    margin-top: 30px;
}
#vipul{
    color: aqua;
    font-size: 45px;
}
#hi{
    font-size: 40px;
}
#dev{
    font-size: 40px;
}
#forbutton{
    margin-left: 80px;
    margin-top: 30px;

}
.home-para{
    line-height:2;
}
#para{
    margin-top: 10px;
}

/*************************************** THIS IS ABOUT PAGE ***************************************8*/

#main-part-about{
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
    margin-bottom: 70px;
}
#img-in-about img{
    height: 350px;
    margin-top: 120px;
    border: 2px solid aqua;
    border-radius: 50%;
}

#about-paragraph p{
    line-height: 1.6;
    word-spacing: 3px;
    text-align: justify;
    font-size: 18px;
    font-weight: 400;
    
    
}
#head-about h1{
    font-size: 48px;
    font-weight: 500;

}
#head-about{
    margin-bottom:20px ;
}
#subhead-about h2{
    margin-bottom: 25px;
    font-size: 30px;
}
#about-button button{
    background-color:aqua;
    color:black;
    border-color: none;
    padding: 5px 20px;
    border-radius: 14px;
    font-size: 18px;
    border: none;
    outline: none;

}
#about-button button:hover{
    background-color: bisque;
}
#about-button{
    margin-top: 20px;
}

/*********************************************** THIS IS SKILLS SECTION ********************************************/


#main-part-skill-section{
    margin-top: 180px;
    max-width: 1300px;
    
    
}
#skill-head h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 80px;

}
.skills p{
    margin-bottom: 10px;
}
.skills{
    margin-top: 40px;
}

#technical-skill{
    margin-left: 40px;
}
#thead {
    font-size: 20px;
    margin-left: 90px;
    
    
}
#phead{
    font-size: 20px;
    margin-left: 58px;
}

.progress-bar{
    width: 130%;
      background-color:rgb(8, 3, 12);
      border-radius: 25px;
      height: 12px;
 
}
.progress {
    height: 12px;
    border-radius: 25px;

}
.html{
    width: 90%;
    background-color: aqua;
} 
.css{
    width: 80%;
    background-color: aqua;
}
.c{
    width: 40%;
    background-color: aqua;
}
.tally{
    width: 65%;
    background-color: aqua;
}
#tally{
    margin-bottom: 20px;
}
.circle{
    width: 100px;
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
    height: 100px;
    border: 8px solid aqua;
    border-radius: 50%;
}
#skills-div{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
#profesional-set-one{
    display: flex;
    justify-content:space-around;
    margin-top: 20px;
}
#profesional-set-two{
    display: flex;
    /* justify-content: space-around; */
    margin-top: 20px;
    margin-left: 20px;
}
.profesional{
    text-align: center;
    display: inline;
    margin: 20px;
}
.profesional p{
    font-size: 17px;
    margin-top: 14px;
    text-align: center;
    margin-right: 10px;
}
#professional-skills{
    margin-right: 50px;
}


/**************************************8 THIS IS PROJECT SECTION *****************************************************/
#project-main-part{
    margin-top: 150px;
}
#project-part-one{
    display: flex;
    justify-content: space-around;
}
#project-part-two{
    display: flex;
    justify-content: space-around;
}
.img-of-box{
    height: 230px;
    margin-bottom: 40px;
    border: 2px solid aqua;
    border-radius: 20px;
    object-fit: cover;
    background-position:center;
    background-size: cover;
    transform: scale(0.5s);
    transition: all;
}
.img-of-box:hover{
    transform: scale(0.5s);
}
#project-head {
display: flex;
justify-content: center;
margin-bottom: 40px;
}
#project-head h1{
    font-size: 40px;
}
/******************************** THIS IS CONTACT US PAGE SECTION *******************************************/


#contact-part-div{
    margin-top: 150px;
    text-align: center;
}
#contact-head{
    display: flex;
    justify-content: center;
}
#contact-head h1{
    font-size:40px;
}
input::placeholder{
    font-size: 18px;
    color:white;
    
}
.name-input{
    background-color: rgb(8, 3, 12) ;
    padding: 13px;
    width: 60%;
    margin-top: 30px;
    border-radius: 13px;
    border-color: aqua;
}
#text-area{
    height: 170px;
    margin-bottom: 20px;
}
#text-area::placeholder{
    font-size: 18px;
    color: white;
    
}